<!DOCTYPE html>
{# <link rel = "stylesheet" href = "style.css"/>                                     need to create CSS #}
	<meta charset = "UTF-8">
	<title>{% block title %}CMS | {{ page_name }}{% endblock %}</title>                  {# Giving blockname is key #}
	<h1>Practice Content Management System</h1>
		<br>
		<hr>
		<br>
	<p>
		{% if user %}
			<h1>Welcome {{ user }}!</h1>
		{% else %}
			<h2>Welcome! Please sign in:</h2>
		{% endif %}
	</p>
	<p>
		<a href = "{{ url|safe }}">Click here to {{ url_linktext }}.</a>
	</p>
	<p>
		<br>
		<hr>
		<br>
	</p>

