<!DOCTYPE html>
<html>
	{% extends "base/base.html" %}

    <body>
	    {% block content %}
		    <p> Pick a flatpage:</p>
		    {%  for flatpage in flatpages  %}
			    <ul>
			    <li><a href = "display_flatpage/?{{ flatpage.key.id }}">{{ flatpage.key.id }}</a></li>
		    </ul>

		    {%  endfor %}
		    <br>
		    or
		    <br>
		    <p>
            <a href = "/create_flatpage/">Click to create a flatpage!</a>
            </p>
		    <p>Have a great day!</p>
	    {% endblock content %}
    </body>
</html>